<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        ul,ol{
            list-style:none;
        }
        a{
            text-decoration:none;
        }
        .box{
            width: 200px;
            height: 200px;
            background: pink;
        }
        .active{
            background: #ff00ff;
        }
    </style>
</head>
<body>
    <div id="app">

    </div>

    <script type="text/javascript" src="vue.min.js"></script>
    <script type="text/javascript">
        /*创建实例化对象
          双大括号插值{{}}
          v-text innerText
          v-html innerHTML
          v-if 数据属性对应的值如果为假则不在页面中渲染 反之亦然 appendChild() removeChild()
          v-show 控制dom元素的显示和隐藏display：none|block
          v-bind 绑定标签上的属性（内置的属性和自定义的属性 ）
          v-on : 原生事件名 = ‘函数名’简便写法@
          v-for = "(item,index)in menuLists"既可以遍历列表也可以遍历对象*/
        new Vue({
            el:"#app",
            data:function(){
                return{
                    msg:'指令系统',
                    msg2:'<h3>指令系统</h3>',
                    isShow:true,
                    isPurple:false,
                    menuList:[
                        {id:1,name:'渣男',price:0},
                        {id:2,name:'渣女',price:0},
                        {id:3,name:'好东西',price:10},
                    ],
                    person:{
                        name:"zxzx",
                        fav:"drink"
                    }
                }
            },
            template:'<div class="app">' +
                '<h2>{{msg}}</h2>' +
                '<p v-text="msg"></p>' +
                '<div v-html="msg2"></div>' +
                '<div v-if="isShow">这条信息现在出现了</div>' +
                '<div v-show="isShow">bikabika</div>' +
                '<div v-show="!isShow">bilibili</div>' +
                '<div class="box" v-bind:class="{active:isPurple}" v-on:click="clickHandler"></div>' +
                '<ul><li v-for="(item,index) in menuList">' +//遍历列表
                    '<h5>{{item.id}}</h5>' +
                    '<h6 v-text="item.name"></h6>' +
                '</li></ul>' +
                '<ul><li v-for="(key,value) in person">' +//遍历对象
                    '<h5>{{key}}={{value}}</h5>' +
                '</li></ul>' +
                '</div>',
            methods:{
                clickHandler(e){
                    console.log(this);
                    this.isPurple = !this.isPurple;
                }
            }
        })


    </script>
</body>
</html>