*{
    padding: 0;
    margin: 0;
}
img{
    border: 0;
}
#container{
    width: 570px;
    height: 500px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
}
#big-img{
    width: 570px;
    height: 400px;
    position: relative;
}
#big-img img{
    width: 570px;
    height: 400px;
    position: absolute;
    
}
#small-img{
    width: 2000px;
    height: 100px;
    background: #cccccc;

}
#small-img img{
    width: 130px;
    height: 80px;
    float: left;
    margin: 10px 0 10px 10px;
    cursor: pointer;
}
#prev, #next{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    margin-top:-30px;
    z-index: 9;
    cursor: pointer;
}
#prev{
    left: 10px;
    background-image: url(../imgzpq/arrow.png);
    background-repeat: no-repeat;
    background-size:contain;
}
#next{
    right: 10px;
    background-image: url(../imgzpq/right_arrow.png);
    background-repeat: no-repeat;
    background-size:contain;
}
#info{
    width: 560px;
    height: 30px;
    background:#000;
    opacity: 0.5;
    filter:alpha(opacity=50);
    z-index: 9;
    position: absolute;
    bottom: 0;
    line-height: 30px;
    color: #fff;
    padding-right: 10px;
}
#info span{
    float: right;
}